:root {
  /* Color Palette */
--btn-primary-bg: #00CED1;
/* Main button color */
--text-color: #ffffff;
--buton-text-color:#2B2B2B;
/* Button text color */
--btn-primaryhover: #005959;
/* Main button hover color */
--box-shadow:#0000001a;
--divider-color: #e5e5e5;
/* Divider line color */
--linear-gradient-color:#ffffff99;
--menu-font-color: #333333;
/* Menu text color */
--detail-button:#000000cc;
/*for details button color */
--btn-emergency: #FFE082;
/* Emergency button color */
--btn-emergency-gradient: #FFD54F;
--btn-emergencyhover: #FFB300;
/* Emergency button hover color */

/* Fonts */
--font-primary: 'Montserrat', sans-serif;
/* Main font */
--bs-font-sans-serif: var(--font-primary);
/* Bootstrap font */
--bs-body-font-family: var(--bs-font-sans-serif);
/* General body font */

/* Font Sizes */
font-size: 16px;
/* Default font size */
--font-size-large: 20px;
/* Large font size */

/* Bootstrap Defaults */
--bs-nav-link-color: var(--menu-font-color);
/* Nav link text color */
--bs-nav-link-font-weight: 800;
/* Nav link font weight */
--bs-navbar-collapse-bg: #ffffff;
/* Navbar dropdown background */ }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  font-size: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.max-width {
  max-width: 1180px;
  margin: 0 auto;
}

.navbar-collapse {
  flex-grow: 0;
}



.btn-emg.d-block {
  margin-left: auto;
}

.btn-emg {
  min-width: 48px;
  background: linear-gradient(90deg, var(--btn-primary-bg), var(--btn-emergency-gradient));
  border-radius: 0.625rem;
  color: var(--text-color);
  padding: 0.5rem 2rem;
}

.btn-emg:hover {
  background: var(--btn-emergencyhover);
}

.logo {
  max-width: 120px;
}

.navbar .navbar-brand {
  padding: 0;
  margin: 0;
}

.navbar.navbar-expand-lg.navbar {
  padding: 0;
  height: 120px;
}


.navbar-nav .nav-item .nav-link {
  background-color: var(--text-color);
  font-weight: 700;
  color: var(--menu-font-color);
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: var(--btn-primary-bg);
  color: var(--text-color);
  border-radius: 0.3rem;
}


.divider {
  border: 1px solid var(--divider-color);
  width: 100%;
}
